@import url('https://fonts.googleapis.com/css?family=Gugi');

body {
    background-image: url("83background.jpg");
    background-size: cover;
    text-align: center !important;
    font-family: 'Gugi', cursive !important;  
    font-size: 25px !important;  
}

.more{
    height: 100px !important;
    width: 100% !important;
    margin-top: 100px !important;
    position: center !important;
}

input {
    align-content: center !important;  
}